<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8"/>
		<title>Edit Note</title>
        <link rel="stylesheet" href="/css/note_edit.css" />

    </head>

    <body>

	<header>

		<div id="header_div">

			<label>Edit a note of the patient</label>
			<a th:href="@{/patient/open(patientId=${patientId})}">Back To Medical Record</a>

		</div>

	</header>

    	<section>

			<div id="section_div">

				<div id="update_form_div">

					<form method="post" th:action="@{/note/update/(noteId=${note.id})}" th:object="${note}" id="update_form">

						<div class="form_slot_div">
							<label>Commentary :</label>
							<textarea  rows = "20" th:field = "*{commentary}"></textarea>
							<p th:if="${#fields.hasErrors('commentary')}" th:errors="*{commentary}"></p>
						</div>

						<div class="form_slot_div">
							<input type="hidden" th:field="*{patientId}">
							<input type="hidden" th:field="*{date}">
							<button type="submit" >Update</button>
						</div>

					</form>

				</div>

			</div>

    	</section>

		<footer>

		</footer>

    </body>

</html>