<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8"/>
		<title>User List</title>
		<link rel="stylesheet" href="/css/user_list.css">

	</head>

	<body>

		<header>

			<div id="header_div">

				<h1>User list extracted from the database : </h1>
				<a href="/addUser">Add A New User</a>

			</div>

		</header>

		<section>

			<div id="section_div">

				<table id="user_table">

					<tr>

						<th>User Id</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Birth Date</th>
						<th>Gender</th>
						<th>Address</th>
						<th>Phone Number</th>
						<th>Action</th>

					</tr>

					<tbody>

						<tr th:each="user : ${userList}">

							<td th:text="${user.userId}"></td>
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.lastName}"></td>
							<td th:text="${#dates.format(user.birthDate, 'dd-MM-yyyy')}"></td>
							<td th:text="${user.gender}"></td>
							<td th:text="${user.address}"></td>
							<td th:text="${user.phoneNumber}"></td>

							<td>

								<a th:href="@{/openUser(id=${user.userId})}">Open</a>
								<label>|</label>
								<a th:href="@{/editUser(id=${user.userId})}">Edit</a>
								<label>|</label>
								<a th:href="@{/deleteUser(id=${user.userId})}">Delete</a>

							</td>

						</tr>

					</tbody>

				</table>

			</div>

		</section>

		<footer>

		</footer>

	</body>

</html>